<a href="https://colab.research.google.com/github/mdaugherity/MachineLearning2022/blob/main/HW3_Tress_on_the_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PHYS 453, Spring 2022

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.datasets import fetch_openml
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# HW3 - Trees on the Titanic 

Classify the people in data set and tell me **WHO LIVES AND WHO DIES**.

## Assignment:
1.  Train a tree using all the data with max_depth=3 and print a nice diagram of the tree.  Make sure it is filled and all features and classes are labeled!
1.  Set up a test/train split. Train decision trees on the Titanic data to make a plot of test score vs max_depth for depths from 1 to 25.
1.  Use the **best** tree to classify the extra passengers.   


Use the code below to load data without modifications.

In [2]:
# Load Titanic
data = fetch_openml(name="titanic",version=1, as_frame=True)

df_raw = data.frame # the raw data
df_raw.head()

   pclass survived  ...   body                        home.dest
0     1.0        1  ...    NaN                     St Louis, MO
1     1.0        1  ...    NaN  Montreal, PQ / Chesterville, ON
2     1.0        0  ...    NaN  Montreal, PQ / Chesterville, ON
3     1.0        0  ...  135.0  Montreal, PQ / Chesterville, ON
4     1.0        0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [3]:
# Factorize any non-numeric columns we want to use
codes, genders = pd.factorize(df_raw.sex)
df_raw['gender'] = codes
print('Gender codes:', genders.categories)

Gender codes: Index(['female', 'male'], dtype='object')

In [4]:
# Choose columns to keep
df_raw.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest', 'gender'],
      dtype='object')

In [5]:
cols = ['survived','pclass', 'gender', 'age', 'sibsp', 'parch', 'fare'] # choose columns for features
features = ['pclass', 'gender', 'age', 'sibsp', 'parch', 'fare'] # choose columns for features
target = ['survived']
df = df_raw[cols].copy()
df.head()

  survived  pclass  gender      age  sibsp  parch      fare
0        1     1.0       0  29.0000    0.0    0.0  211.3375
1        1     1.0       1   0.9167    1.0    2.0  151.5500
2        0     1.0       0   2.0000    1.0    2.0  151.5500
3        0     1.0       1  30.0000    1.0    2.0  151.5500
4        0     1.0       0  25.0000    1.0    2.0  151.5500

In [6]:
df.describe()

            pclass       gender  ...        parch         fare
count  1309.000000  1309.000000  ...  1309.000000  1308.000000
mean      2.294882     0.644003  ...     0.385027    33.295479
std       0.837836     0.478997  ...     0.865560    51.758668
min       1.000000     0.000000  ...     0.000000     0.000000
25%       2.000000     0.000000  ...     0.000000     7.895800
50%       3.000000     1.000000  ...     0.000000    14.454200
75%       3.000000     1.000000  ...     0.000000    31.275000
max       3.000000     1.000000  ...     9.000000   512.329200

[8 rows x 6 columns]

In [7]:
# Clean up 
print('Row count:\t', len(df))
df.dropna(inplace=True)  # delete rows with missing or bad values
print('After dropna:\t', len(df))

Row count:	 1309
After dropna:	 1045

In [8]:
# Save variables
X = df[features].values
y = df[target].values

# Problem 1

*DISCUS YOUR RESULTS HERE*

# Problem 2

*DISCUS YOUR RESULTS HERE*

# Problem 3

*DISCUS YOUR RESULTS HERE*